header{
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: large
}

.products{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid lightgray;
  padding: 2rem;
}

main{

  display: flex;
}
.nav{
  display: flex;
justify-content: space-around;
border-bottom: 2px solid lightgray;
padding: 2rem 0;

}
.main{
  display: flex;
flex-wrap: wrap;
width: 70%;

}
.main div{

  margin:1rem 1rem;
  text-align: center;
}

.sidebar{

  width: 20%;
 
  margin-top: 2rem;
 margin:  0 auto;
  
}
.sidebar div{

  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.sidebar img{
border-radius: 0;
  width: 6rem;
  height: 100%;
}
.bascketItem{
  border: rgb(159, 160, 158) 3px dashed;
  margin-top: 1rem;
}